@keyframes background-animation {
    0% {
        transform: scale(1) translateX(0);
        filter: blur(0px);
    }
    50% {
        transform: scale(1.05) translateX(-5%); 
        filter: blur(1px); 
    }
    100% {
        transform: scale(1) translateX(0);
        filter: blur(0px);
    }
}

.animate-background {
    animation: background-animation 20s infinite alternate ease-in-out;
}